# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv311/
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Database + generated data
data/*.db
data/processed/
data/raw_pdfs/

# Logs
*.log

# VS Code
.vscode/